.detail {
  width: 640px;
  height: auto;
  margin-bottom: 24px;
}
.list {
  width: 240px;
  height: auto;
}

@media (max-width: 640px) {
  .detail {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .list {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}
