.detail {
  width: 640px;
  height: auto;
  margin-bottom: 24px;
}
.list {
  width: 240px;
  height: auto;
  border-radius: 10px;
}
.list:hover {
  opacity: 50%;
}

@media (max-width: 640px) {
  .detail {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
}
