.main {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 540px) {
  .main {
    width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 810px) {
  .main {
    width: 810px;
    margin: 0 auto;
  }
}

@media (min-width: 1080px) {
  .main {
    width: 1080px;
    margin: 0 auto;
  }
}
