---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Contact | stamefusa.jp"
  description="stamefusa への連絡先ページです。"
  canonicalPath="/contact/"
>
  <section class="contact">
    <h1 class="contact__title">連絡先</h1>
    <div class="contact__body">
      <p>tameshin[at]gmail.com</p>
      <p>[at]を@に置換してください。</p>
      <div class="contact__notice">
        <p>※お問い合わせ全てに返信をお約束出来るものではありません。</p>
      </div>
    </div>
  </section>
</BaseLayout>
