---
import BaseLayout from '../layouts/BaseLayout.astro';
import WorkCard from '../components/WorkCard.astro';
import { getTotalPages, getWorksPageList } from '../lib/microcms';

const works = await getWorksPageList();
const totalPages = getTotalPages(works.totalCount);
---

<BaseLayout
  title="stamefusa.jp"
  description="爲房新太朗が作ってきた、明るく笑えるギャグソウチたちを紹介します。"
  canonicalPath="/"
>
  <section class="intro">
    <div class="intro__body">
      <span>爲房 新太朗がこれまでに</span>
      <span>作ってきたギャグソウチ</span>
    </div>
  </section>
  <ul class="works-grid">
    {works.contents.map((work) => <WorkCard work={work} />)}
  </ul>
  {totalPages > 1 && (
    <ul class="pagination">
      {Array.from({ length: totalPages }).map((_, index) => {
        const page = index + 1;

        return (
          <li class="pagination__list">
            {page === 1 ? (
              <span class="pagination__item pagination__item--current">{page}</span>
            ) : (
              <a class="pagination__item" href={`/p/${page}/`}>{page}</a>
            )}
          </li>
        );
      })}
    </ul>
  )}
</BaseLayout>
