---
type Props = {
  title: string;
  lead: string;
};

const { title, lead } = Astro.props;
---

<section class="hero">
  <div class="container hero__inner">
    <p class="hero__eyebrow">Portfolio</p>
    <h1>{title}</h1>
    <p class="hero__lead">{lead}</p>
    <div class="hero__actions">
      <a class="button button--primary" href="/blog">Blogを見る</a>
      <a class="button" href="/about">Aboutへ</a>
    </div>
  </div>
</section>
