---
import type { Work } from '../lib/microcms';

type Props = {
  work: Work;
};

const { work } = Astro.props;
const thumbnailSrc = work.thumbnail?.url
  ? `${work.thumbnail.url}?fm=webp&fit=crop&w=240&h=135`
  : '/no-image.png';
---

<article class="work-card">
  <a class="work-card__link" href={`/blog/${work.id}/`}>
    <img class="work-card__image" src={thumbnailSrc} alt="" loading="lazy" />
    <div class="work-card__body">
      <h2 class="work-card__title">{work.title}</h2>
    </div>
  </a>
</article>
