.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 24px 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-border-light);
}

.ul {
  display: flex;
}

.li {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic, 'ヒラギノ角ゴ ProN W3',
    Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
}

.ul > a:hover {
  opacity: 50%;
}
